@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@font-face {
    font-family: 'D-DIN Condensed';
    src: url('./assets/fonts/D-DIN/D-DINCondensed.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Mark pro black';
    src: url('./assets/fonts/Mark-pro/MarkPro-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mark pro bold';
    src: url('./assets/fonts/Mark-pro/markpro-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mark pro';
    src: url('./assets/fonts/Mark-pro/MarkPro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'MArk pro', sans-serif;
}

.cube-container {
    perspective: 1000px;
}

.cube {
    width: 150px;
    height: 150px;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateX(189deg) rotateY(106deg) rotateY(46deg);
}

/* Larger Cube */
.cube-large {
    width: 200px;
    height: 200px;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateX(147deg) rotateY(103deg) rotateY(46deg);
}

.face {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: white;
}


.cube .face,
.cube-large .face {
    width: inherit;
    height: inherit;
}

.cube .front {
    transform: rotateY(0deg) translateZ(75px);
    background: linear-gradient(306deg, rgba(48, 32, 34, 1) 19%, rgb(63 42 34) 67%);
}

.cube .right {
    transform: rotateY(90deg) translateZ(75px);
    background: linear-gradient(322deg, rgba(31, 46, 63, 1) 0%, rgba(33, 46, 62, 1) 31%);
}

.cube .top {
    transform: rotateX(90deg) translateZ(75px);
    background: linear-gradient(311deg, rgba(107, 58, 42, 1) 34%, rgba(63, 42, 38, 1) 79%);
}


.cube-large .front {
    transform: rotateY(0deg) translateZ(100px);
    background: linear-gradient(143deg, rgba(37, 30, 34, 1) 37%, rgba(22, 21, 26, 1) 88%);
}

.cube-large .right {
    transform: rotateY(90deg) translateZ(100px);
    background: linear-gradient(237deg, rgba(191, 117, 33, 1) 4%, rgba(115, 69, 46, 1) 37%, rgba(46, 39, 45, 1) 88%);
}

.cube-large .bottom {
    transform: rotateX(-90deg) translateZ(100px);
    background: linear-gradient(44deg, rgba(242, 160, 65, 1) -23%, rgba(115, 69, 46, 1) 39%, rgba(46, 39, 45, 1) 88%);
}
.homeSlider{
    background: radial-gradient(circle, rgba(22, 31, 42, 1) 9%, rgb(22, 26, 33) 44%)
}

.sphere {
    position: relative;
    background: radial-gradient(circle at 27px 30px, #FF9A82, #FFC486, #FFE6AB);
    box-shadow: 0 0 44px rgba(254, 230, 160, 0.5);
    animation: pulse 3s ease-in-out infinite, rotate 8s linear infinite;
}

.sphere span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(255, 255, 210, 0.3), transparent);
    filter: blur(10px);
}
.cylinder-container{
    perspective: 1000px;
}

.cylinder-container::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    /* width: '50%'; */
    height: 30px;
    background: radial-gradient(ellipse at center, #241F22, rgba(0, 0, 0, 0));
    z-index: -1;
    filter: blur(8px);
}
.top_cylinder{
    transform-style: preserve-3d;
    transform: rotateX(118deg) rotateY(111deg) rotateY(67deg);
    background-color: #3B312E;
    bottom: -20px;
}

.bottom_cylinder{
    transform: rotate(45deg);
    transform: rotate(132deg);
    background: linear-gradient(85deg, rgba(18, 12, 16, 1) 39%, rgba(38, 28, 35, 1) 100%);
}

.bg_shape::before{
    background: linear-gradient(180deg, rgba(15, 18, 25, 1) 0%, rgba(24, 25, 34, 1) 19%, rgba(27, 26, 31, 1) 100%);
}
.bg_shape {
    background: linear-gradient(180deg, rgba(15,18,25,1) 0%, rgba(24,25,34,1) 19%, rgb(41, 40, 46) 100%);
}

.projectCard{
    background: linear-gradient(180deg, rgba(35, 37, 49, .5), rgba(15, 15, 24, .5));
    border: 1px solid #20222e;
    border-radius: 2.3rem;
}
.img-box{
    border-radius: 2.3rem;
}
.projectCard::before {
    content: attr(data-index);
        position: absolute;
        top: -4rem;
        right: -7rem;
        font-size: 8rem;
        font-weight: bold;
        background: linear-gradient(45deg, rgb(32, 31, 31), transparent);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-mask: linear-gradient(to bottom, #6C6C6C 10%, transparent 100%);
        -webkit-text-stroke: 1px;
        letter-spacing: 0;
        -webkit-text-stroke-color: #6C6C6C;
        padding: 0.5rem;
        z-index: 1;
        display: inline-block;
        text-align: center;
}

.rest{
    background: linear-gradient(180deg, #151921 6%, #000 27%);
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
        -webkit-text-fill-color: transparent;
    }

    50% {
        background-position: 100% 50%;
        -webkit-text-fill-color: transparent;
    }

    100% {
        background-position: 100% 50%;
        color: white;
    }
}


.projectCard {
    position: relative;
}

.project-title {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-size: 400% 400%;
}

.project-title.animate-gradient {
    animation: gradient 3s ease-in-out forwards;
}

.menu{
        display: flex;
        background: rgba(42, 43, 56, .5);
        border: 1px solid #2a2b37;
        -webkit-backdrop-filter: blur(104px);
        backdrop-filter: blur(104px);
        border-radius: 1rem;
}

.project-title{
        background-image: linear-gradient(90deg, #ffcfdf, #c7f9f7);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
                font-size: 4rem;
                    letter-spacing: -.03em;
}
.experties-title {
    background-image: linear-gradient(90deg, #c7f9f7, #ffcfdf);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
        font-size: 4rem;
        letter-spacing: -.03em;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.gradient-title{
    background: linear-gradient(-45deg, var(--color-light-blue), var(--color-light-purple), var(--color-light-blue), var(--color-light-purple));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 400% 400%;
        animation: gradient 3s ease infinite;
}

.project-detail{
    font-family: 'D-DIN Condensed', sans-serif;
        writing-mode: tb-rl;
        letter-spacing: .19em;
        color: #8b8b8b;
}

