@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'D-DIN Condensed';
    src: url('./assets/fonts/D-DIN/D-DINCondensed.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Mark pro black';
    src: url('./assets/fonts/Mark-pro/MarkPro-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mark pro bold';
    src: url('./assets/fonts/Mark-pro/markpro-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mark pro';
    src: url('./assets/fonts/Mark-pro/MarkPro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'circular';
    src: url('./assets/fonts/circular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'Manrope', sans-serif;
}


.cube-container {
    background-image: linear-gradient(to right, #7f7f7f4e 0.5px, transparent 0.5px);
        background-size: 200px 100%;
}

.stripes{
    background-image: linear-gradient(to right, #7f7f7f4e 0.5px, transparent 0.5px);
        background-size: 200px 100%;
}

.cube {
    width: 100px;
    height: 100px;
    transform-style: preserve-3d;
    transform: rotateX(189deg) rotateY(106deg) rotateY(46deg);
}

/* Larger Cube */
.cube-large {
    width: 130PX;
    height: 130PX;
    transform-style: preserve-3d;
    transform: rotateX(147deg) rotateY(103deg) rotateY(46deg);
}

.face {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: white;
}


.cube .face,
.cube-large .face {
    width: inherit;
    height: inherit;
}

.cube .front {
    transform: rotateY(0deg) translateZ(50PX);
background: linear-gradient(to top right, #C7810A 100%, #CA7D08 100%)
}

.cube .right {
    transform: rotateY(90deg) translateZ(50PX);
    background: linear-gradient(333deg, #EEEF8A 64.29%, #E9E670 100%)
}

.cube .top {
    transform: rotateX(90deg) translateZ(50PX);
    background: linear-gradient(-280deg, #DCDD63 50%, #EEEF8A 100%)
}


.cube-large .front {
    transform: rotateY(0deg) translateZ(65PX);
    background: linear-gradient(141deg, #D2B331 50%, #D1A32D 100%)
}

.cube-large .right {
    transform: rotateY(90deg) translateZ(65PX);
    background: linear-gradient(213deg, #EEE889 50%, #F0EE93 100%)
}

.cube-large .bottom {
    transform: rotateX(-90deg) translateZ(65PX);
    background: linear-gradient(35deg, #E0E170 50%, #E0E170 100%)
}
.homeSlider{
    background: linear-gradient(0deg, #e8e4dc 9%, #FF9043 44%);
    

}
.gradient-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    /* Cover the full viewport height */
    background: linear-gradient(45deg, #ff9a9e, #fad0c4, #fad0c4, #ffdde1, #fc6076, #ff9a9e);
    background-size: 400% 400%;
    /* Increase the background size for smooth animation */
    animation: gradientMove 15s ease infinite;
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

svg {
    width: 10vmin;
    overflow: visible;
}

path {
    opacity: 1;
    transition: opacity 0.2s;
}

.dg :is(.cr.string, .cr.number) input[type=text] {
    color: white;
    line-height: 1;
}

.rotating-text {
    display: inline-block;
    animation: rotate 10s linear infinite;
    /* Adjust the duration as needed */
}

.personal-img::after{
    content: '';
    position: absolute;
    z-index: -1;
    background-image: radial-gradient(circle at 28% 50%, rgb(228, 155, 187), transparent 60%)
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.projectCard{
    background: linear-gradient(180deg, rgba(35, 37, 49, .5), rgba(15, 15, 24, .5));
    border: 1px solid #20222e;
    border-radius: 2.3rem;
}
.img-box{
    border-radius: 2.3rem;
}
.projectCard::before {
font-family: 'Mark pro black';
    content: attr(data-index);
    position: absolute;
    top: -6rem;
    right: -5rem;
    font-size: 7.5rem;
    font-weight: bold;
    background: linear-gradient(45deg, rgb(32, 31, 31), transparent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: black;
    -webkit-mask: linear-gradient(to bottom, #6C6C6C 10%, transparent 100%);
    -webkit-text-stroke: 1px;
    letter-spacing: 0;
    -webkit-text-stroke-color: #6C6C6C;
    padding: 0.5rem;
    z-index: 1;
    display: inline-block;
    text-align: center;
    letter-spacing: -0.08em;
}

.rest{
    background: linear-gradient(180deg, #e8e4dc 6%, #e8e4dc 27%);
    
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
        -webkit-text-fill-color: transparent;
    }

    50% {
        background-position: 100% 50%;
        -webkit-text-fill-color: transparent;
    }

    100% {
        background-position: 100% 50%;
        color: white;
    }
}

.color-circle::before{
content: '';
    position: absolute;
    top: 0;
    left: 20%;
    width: 65%;
    height: 65%;
    filter: blur(110px);
    border-radius: 100%;
    z-index: -1;
}
.green-circle::before{
    background-color: rgb(9, 188, 138);
}
.purple-circle::before{
    background-color: rgb(107, 71, 227);
}
.white-sub{
    transform: rotateX(-52deg) rotateZ(48deg) translateZ(33px) translateY(10px);
}

.green-circle::after {
    content: '';
    position: absolute;
    top: 0;
    border-top: 3px solid rgb(9, 188, 138);
    border-left: 3px solid rgb(9, 188, 138);
    transform: rotateX(22deg) rotateZ(22deg) rotateY(-31deg) translateY(-10px)
}
.purple-circle::after {
    content: '';
    position: absolute;
    width: 2px;
    top: 5%;
    background-color: rgb(107, 71, 227);
}

.projectCard {
    position: relative;
}

.project-title {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-size: 400% 400%;
}

.project-title.animate-gradient {
    animation: gradient 3s ease-in-out forwards;
}

.experties-title {
-webkit-background-clip: text;
    -webkit-text-fill-color: rgb(255, 255, 255);
    -webkit-mask: "white";
    -webkit-text-stroke: 1px;
    letter-spacing: 0;
    -webkit-text-stroke-color: #000000;
    font-size: 4rem;
    position: relative;
    z-index: 0;
}
.experties-title::after {
    position: absolute;
    top: 4px;
    left: -4px;
    width: 100%;
    height: 100%;
    color: #000000;
    z-index: -1;
    font-size: 4rem;
-webkit-text-fill-color: rgb(0, 0, 0);
}
.contact-title {
    background-image: linear-gradient(90deg, #ffaa88 0%, #fbc47c 90%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3.5rem;
    letter-spacing: -.03em;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}



@keyframes gradient-shift {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}



.project-detail{
    font-family: 'D-DIN Condensed', sans-serif;
        writing-mode: tb-rl;
        letter-spacing: .19em;
        color: #8b8b8b;
}


.transition-transform {
    transition: transform 0.5s ease;
}
 
 .mat-bg{
        background: rgb(209 205 187 / 50%);
            -webkit-backdrop-filter: blur(104px);
            backdrop-filter: blur(31px);
 }
 
 