@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'D-DIN Condensed';
    src: url('./assets/fonts/D-DIN/D-DINCondensed.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'circular';
    src: url('./assets/fonts/circular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'safiro';
    src: url('./assets/fonts/safiro-medium.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'safiro-reg';
    src: url('./assets/fonts/safiro-regular.woff2') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'safiro-reg-i';
    src: url('./assets/fonts/safiro-regular-i.woff2') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --background-color: #e8e4dc;
    --project-page-color: #ffdde9;
    --stripe-color: #7f7f7f4e;
    --text-color: rgb(80,80,80);
    --secondary-text-color:#17191a;
    --circle-size: 50%;
    --blending: hard-light;
}


.dark {
    --background-color: #191818;
    --project-page-color: #191818;
    --stripe-color: #5656564e;
    --text-color: #e5e7eb;
    --secondary-text-color: #ffffff;
}


body{
    color: var(--text-color);
    font-family: 'safiro-reg', sans-serif;
    background-color: var(--background-color);
    background-image: linear-gradient(to right, var(--stripe-color) 0.5px, transparent 0.5px);
    background-size: 200px 100%;
    overflow-x: hidden;
}

.home, .project-page{
    overflow-x: hidden;
}
.project-slider::-webkit-scrollbar {
    display: none;
}

.char{
    position: relative;
        display: inline-block;
        translate: none;
        rotate: none;
        scale: none;
        transform-origin: 0% 50%;
        clip-path: inset(0% -100% -100% -5%);
        will-change: transform;
        color: var(--secondary-text-color) !important;
        letter-spacing: -.06em;
}
.number{
            color: var(--secondary-text-color) !important;
}


@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

header svg , .homeSection svg {
    width: 10vmin;
    overflow: visible;
}

header path, .homeSection path {
    opacity: 1;
    transition: opacity 0.2s;
}

.dg :is(.cr.string, .cr.number) input[type=text] {
    color: white;
    line-height: 1;
}

.rotating-text {
    display: inline-block;
    animation: rotate 10s linear infinite;
}


@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.projectCard{
    background: linear-gradient(180deg, rgba(35, 37, 49, .5), rgba(15, 15, 24, .5));
    border: 1px solid #20222e;
    border-radius: 2.3rem;
}
.img-box{
    border-radius: 2.3rem;
}
.projectCard::before {
font-family: 'Mark pro black';
    content: attr(data-index);
    position: absolute;
    top: -6rem;
    right: -5rem;
    font-size: 7.5rem;
    font-weight: bold;
    background: linear-gradient(45deg, rgb(32, 31, 31), transparent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: black;
    -webkit-mask: linear-gradient(to bottom, #6C6C6C 10%, transparent 100%);
    -webkit-text-stroke: 1px;
    letter-spacing: 0;
    -webkit-text-stroke-color: #6C6C6C;
    padding: 0.5rem;
    z-index: 1;
    display: inline-block;
    text-align: center;
    letter-spacing: -0.08em;
}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
        -webkit-text-fill-color: transparent;
    }

    50% {
        background-position: 100% 50%;
        -webkit-text-fill-color: transparent;
    }

    100% {
        background-position: 100% 50%;
        color: white;
    }
}

.color-circle::before{
content: '';
    position: absolute;
    top: 5%;
    left: 25%;
    width: 55%;
    height: 50%;
    filter: blur(110px);
    border-radius: 100%;
    z-index: -1;
}
.contact-circle::before,.contact-circle::after {
    content: '';
        filter: blur(50px);
        z-index: -1;
}
.green-circle::before{
    background-color: rgb(9, 188, 138);
}
.purple-circle::before{
    background-color: rgb(107, 71, 227);
}
.white-sub{
    transform: rotateX(-52deg) rotateZ(48deg) translateZ(33px) translateY(10px);
}

.green-circle::after {
    content: '';
    position: absolute;
    top: 0;
    border-top: 2px solid rgb(9, 188, 138);
    border-left: 2px solid rgb(9, 188, 138);
    transform: rotateX(22deg) rotateZ(22deg) rotateY(-29deg) translateY(-5px) translateX(10px)
}
.purple-circle::after {
    content: '';
    position: absolute;
    top: 5%;
    border-radius:0 2rem;
    border-bottom: 2px solid rgb(107, 71, 227);
    border-left: 2px solid rgb(107, 71, 227);
    transform: rotatez(-153deg) rotateY(-29deg) rotateX(55deg) translateY(-100px) translateX(-147px);
}




@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.project-detail{
    font-family: 'D-DIN Condensed', sans-serif;
        writing-mode: tb-rl;
        letter-spacing: .19em;
        color: #8b8b8b;
}


.transition-transform {
    transition: transform 0.5s ease;
}
 
 .mat-bg{
    background: rgba(49, 49, 49, 0.1);
    -webkit-backdrop-filter: blur(104px);
    backdrop-filter: blur(31px);
 }

 .dots::after, .dots::before{
    position: absolute;
    content: '';
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #515151;
    top: 50%;
 }

  .dots::before {
    left:-3px
  }
   .dots::after{
right: -3px;
   }
 /* **************************************************** */

@keyframes moveInCircle {
    0% {
        transform: rotate(0deg) translateX(0) translateY(0);
    }

    50% {
        transform: rotate(180deg) translateX(50%) translateY(10%);
    }

    100% {
        transform: rotate(360deg) translateX(0) translateY(0);
    }
}

@keyframes moveVertical {
    0% {
        transform: translateY(-50%);
    }

    50% {
        transform: translateY(50%);
    }

    100% {
        transform: translateY(-50%);
    }
}

@keyframes moveHorizontal {
    0% {
        transform: translateX(-50%) translateY(0%);
    }

    50% {
        transform: translateX(50%) translateY(20%);
    }

    100% {
        transform: translateX(-50%) translateY(0%);
    }
}

@keyframes opacityAnimation {

    0%,
    100% {
        opacity: 0.2;
    }

    50% {
        opacity: 0.9;
    }
}

.gradients-container {
    filter: blur(70px);
    width: 100%;
}

.gradient-bg {
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;

}
.g1 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color1), 0.8) 0, rgba(var(--color2), 0.5) 50%);
    mix-blend-mode: var(--blending);
    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(5% - var(--circle-size) / 2);
    right: calc(5% - var(--circle-size) / 2);
    transform-origin: center center;
    border-radius: 30%;
    animation: moveVertical 30s ease infinite, opacityAnimation 4s ease-in-out infinite;
}
.g2 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color1), 0.8) 0, rgba(var(--color2), 0.5) 50%);
    mix-blend-mode: var(--blending);
    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(20% - var(--circle-size) / 2);
    left: calc(20% - var(--circle-size) / 2);
    transform-origin: calc(50% - 400px);
        border-radius: 40%;
    animation: moveInCircle 20s reverse infinite, opacityAnimation 3s ease-in-out infinite;
}

.g3 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color1), 0.8) 0, rgba(var(--color2), 0.5) 50%);
    mix-blend-mode: var(--blending);
    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(30% - var(--circle-size) / 2 + 200px);
    left: calc(30% - var(--circle-size) / 2 - 500px);
    transform-origin: calc(50% + 300px);
        border-radius: 50%;
    animation: moveInCircle 40s linear infinite, opacityAnimation 2s ease-in-out infinite;
}

.g4 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color1), 0.8) 0, rgba(var(--color2), 0.5) 50%);
    mix-blend-mode: var(--blending);
    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(40% - var(--circle-size) / 2);
    right: calc(40% - var(--circle-size) / 2);
    transform-origin: calc(50% - 200px);
        border-radius: 40%;
    animation: moveHorizontal 40s ease infinite, opacityAnimation 6s ease-in-out infinite;
}

.g5 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color1), 0.8) 0, rgba(var(--color2), 0.5) 50%);
    mix-blend-mode: var(--blending);
    width: calc(var(--circle-size) / 2);
    height: calc(var(--circle-size) / 2);
    top: calc(50% - var(--circle-size));
    left: calc(50% - var(--circle-size));
    transform-origin: calc(50% - 300px) calc(50% + 200px);
        border-radius: 50%;
    animation: moveInCircle 20s ease infinite, opacityAnimation 5s ease-in-out infinite;
}

.interactive {
    position: absolute;
    background: var(--color-interactive);
    mix-blend-mode: normal;
    width: 30%;
    height: 50%;
    top: -30%;
    left: -30%;
    opacity: 1;
    border-radius: 50%;
}

.slider::-webkit-scrollbar {
    display: none;
}
@media screen and (min-width: 640px){
.list {
        list-style: inherit;
    }
}

.list li{
    margin: 3px 0;
}

/* ******************************************* */